:root {
  --color-primary: color: #66b3ff;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top {
  background-color: #66b3ff;
  padding: 0.5rem;
}

.top a {
  color: white;
  margin-right: 2rem;
}

/*  */

/* Style Navbar */
a {
  cursor: pointer;
}

li.nav-item {
  border-bottom: #42484000 3px solid;
}

li.nav-item:hover {
  border-bottom: #66b3ff 3px solid;
}

.nav-item a.nav-link {
  margin-right: 2rem;
  padding: 1rem;
  font-weight: 700;
  color: #66b3ff;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  border: none;
}

.dropdown-item {
  font-size: small;
  font-weight: 600;
  padding: 1rem 3rem;
}

.dropdown-item:hover {
  background-color: #66b3ff;
  color: white;
}

@media (max-width: 990px) {
  .navbar-brand img {
    height: 35px;
  }

  li.nav-item:hover {
    border-bottom: none;
  }
}

/* style jumbotron */

/* style info-panel */

.info {
  margin-top: -2em;
  padding: 2rem;
  border-radius: 30px;
}

.info-item .btn {
  margin-top: 10px;
  border-radius: 20px;
  padding: 0.5rem 2.5rem;
}

.btn-success {
  background-color: #66b3ff;
}

.btn-danger {
  background-color: rgb(255, 53, 53);
}

.info-item p {
  font-size: medium;
  color: gray;
}

.info-item h5 {
  font-size: medium;
  font-weight: 600;
  color: #66b3ff;
}

@media (max-width: 760px) {
  .info {
    text-align: center;
  }

  .info-item {
    margin-bottom: 4rem;
  }
}

/* section 2 */

.pricing-area {
  margin-top: 25px;
}

.single-pricing {
  position: relative;
  text-align: center;
  background-color: #f7f7f7;
  margin: 0 0;
  /* padding: 30px; */
  border-radius: 20px;
  z-index: 9;
}

.head-text {
  border-radius: 20px 20px 0 0;
  top: 0;
  border-bottom: 0;
  padding: 20px 0;
  background-color: #54595f;
}

.head-text.a {
  background-color: #d80505;
}

.head-text.b {
  background-color: #1abc9c;
}

.head-text h3 {
  font-family: "poppins";
  font-size: 22px;
  font-weight: bolder;
  text-transform: capitalize;
  color: #fff;
}

.head-text span {
  font-family: "Roboto Slab", sans-serif;
  font-size: 13px;
  color: #fff;
}

.price-area .price-area span {
  font-weight: 600;
}

.price-area {
  position: relative;
  padding: 10px 0;
  color: rgb(78, 78, 78);
  font-weight: bolder;
  font-family: "poppins";
  font-size: 44px;
  line-height: 1;
}

.price-area sup {
  font-size: 20px;
}

.price-area span.duration {
  display: block;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "poppins";
  margin: 3px 0;
  text-align: center;
  color: rgb(43, 43, 43);
  letter-spacing: 1px;
}

.coret {
  text-align: left;
  margin: 5px 0 0 15px;
}

.coret span {
  font-size: 20px;
  color: #54595f;
  font-weight: bolder;
  text-decoration: line-through;
}

.price-area:after,
.feature-area {
  border: 0;
  font-family: poppins;
}

.feature-area ul {
  margin: 0;
  padding: 15px 0;
  list-style: none;
}

.feature-area li {
  padding: 6px;
  font-size: 14px;
  width: 80%;
  margin: 2px auto;
  color: #747474;
}

.feature-area li:nth-child(2),
.feature-area li:nth-child(3),
.feature-area li:nth-child(4),
.feature-area li:nth-child(5),
.feature-area li:nth-child(6),
.feature-area li:nth-child(7),
.feature-area li:nth-child(8),
.feature-area li:nth-child(9),
.feature-area li:nth-child(10) {
  color: #747474;
  border-top: 2px solid rgba(170, 169, 169, 0.748);
  margin: 10px auto;
  padding-top: 15px;
}

.feature-area li .far {
  font-size: 16px;
  color: #484848;
  margin-right: 10px;
}

.btn-area {
  border: none;
  margin: 0;
  padding: 0;
  margin: 10px auto 18px;
}

.btn-area a {
  cursor: pointer;
  text-decoration: none;
  background-color: #1abc9c;
  padding: 15px 15px;
  margin: 10px auto;
  border-radius: 5px;
  color: #fff;
}

.btn-area a.a,
.btn-area a.d {
  background-color: #54595f;
}

.btn-area a.b {
  background-color: #d80505;
}

.btn-area a.c {
  background-color: #1abc9c;
}

.footer {
  padding-bottom: 24px;
  margin-bottom: 42px;
  color: #484848;
}

.label-area {
  width: 80px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.label-area .text {
  font-size: 12px;
  color: #fff;
  transform: rotate(45deg);
  text-align: center;
  padding: 2px 0;
  position: absolute;
  left: -24px;
  top: 22px;
  width: 144px;
  background: #61ce70;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

/* end section 2 */

/* section 3 and 1(in the last) */
.card-h .row .col-lg-6 h1 {
  color: #66b3ff;
  font-size: 30px;
  font-weight: bolder;
}

.card-h .row .col-lg-6 p {
  color: #7e7979;
  font-size: 19px;
  font-weight: bolder;
}

.card-h .row .col-lg-6 .btn {
  border-radius: 25px;
  background-color: #66b3ff;
  border: none;
}

.card-h .row .col-lg-6 .btn:hover {
  background-color: #3a9cfe;
}

.splide__arrow,
.splide__pagination__page {
  background-color: #00d0ff;
}

.latar {
  background-color: #add3f8a4;
}

.splide__list .splide__slide .card {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
}

.splide__list .splide__slide .card.abyss {
  width: 25rem;
}

.card__img {
  position: absolute;
  top: 40px;
  left: 15px;
  transform: translateY(-50%);
  width: 55px;
  object-fit: cover;
  border-radius: 50%;
}

.label {
  text-align: center;
  position: absolute;
  top: 25px;
  right: 15px;
  font-size: 13px;
  font-weight: 700;
  transform: translateY(-50%);
  color: white;
  width: 104px;
  object-fit: cover;
  border-radius: 25px;
  background-color: #66b3ff;
}

.label.tgl {
  top: 25px;
  left: 15px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.card-title a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.card__link {
  color: #66b3ff;
}

.row .text-end .btn.jadwal {
  background-color: #66b3ff;
  color: white;
}

.row .text-end .btn.jadwal:hover {
  background-color: #3a9cfe;
}

/* end section 1 & 3*/

/* footer section */
.social-media {
  color: #66b3ff;
  transition: 0.5s ease;
}

.social-media:hover {
  color: #ff3737;
  transition: 0.2s ease;
}

.text {
  color: #1d1d1d;
}

.text:hover {
  color: #66b3ff;
}

.tombol {
  background-color: #66b3ff;
  color: white;
  font-weight: inherit;
  font-size: 14px;
  line-height: 2.8;
  border: solid;
  font-style: normal;
  font-family: inherit;
  text-decoration: none;
  transition: 0.5s ease;
}

.tombol:hover {
  background-color: #1d1d1d;
  color: white;
  transition: 0.5s ease;
}

.text1 {
  font-size: 12px;
  opacity: 50%;
  font-weight: 500;
}

.komentar {
  margin-top: 50px;
  margin-left: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 950px;
  background-color: #363636;
  opacity: 75%;
  font-style: italic;
  color: white;
  border-radius: 5px;
}

.testi {
  margin-left: 160px;
  width: 75%;
}

.swiper {
  width: 80%;
  height: 100%;
}

.slider2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider2 img {
  display: block;
  width: 50%;
  height: 100%;
  object-fit: cover;
  margin-top: 15px;
  margin-bottom: 25px;
}

.wiper {
  width: 1064px;
  height: 100%;
}

.slider {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 25px;
}

/* end footer section */

/* start recent article */

.box.recent {
  border: 4px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: rgba(220, 220, 220, 0.504);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.283);
}

.box.recent:hover {
  background-color: rgba(239, 239, 239, 0.805);
}

.img-box {
  width: 300px;
  padding: 4px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.283);
  border-radius: 25px;
}

.img-box .img-fluid {
  border-radius: 25px;
}

.recent .tgl {
  display: block;
  font-weight: lighter;
  text-align: center;
}

.spasi {
  letter-spacing: 3px;
}

.detail .baca {
  border-radius: 25px;
}

/* end recent article */




/* start article content */

.artikel {
  width: 100%;
}

.artikel .cover {
  width: 500px;
  height: 500px;
}

.artikel p {
  text-align: justify;
}

.share-btn-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-share {
  font-size: 28px;
  padding-left: 3px;
}

.share-btn-container .fa-share {
  color: #000000;
}

.share-btn-container .fa-facebook {
  color: #3b5998;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
}

.share-btn-container .fa-instagram {
  color: #e6683c;
}

.share-btn-container .fa-whatsapp {
  color: #25d366;
}

.share-btn-container1 {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.share-btn-container1 a i {
  font-size: 32px;
}

.share-btn-container1 a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container1 a:hover {
  transform: scale(1.2);
}

.share-btn-container1 .fa-share {
  font-size: 28px;
  padding-left: 3px;
}

.share-btn-container1 .fa-share {
  color: #000000;
}

.share-btn-container1 .fa-facebook {
  color: #3b5998;
}

.share-btn-container1 .fa-twitter {
  color: #1da1f2;
}

.share-btn-container1 .fa-instagram {
  color: #e6683c;
}

.share-btn-container1 .fa-whatsapp {
  color: #25d366;
}

.share-btn-container1 {
  display: none;
}

/* end article content */





/* Media Query */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  h3 {
    font-size: 20px;
  }

  .foto-kata-mereka {
    width: 100%;
    height: 230px;
    margin-right: 15px;
    font-size: 15px;
  }

  .kata-mereka {
    padding-top: 10px;
    padding-bottom: 120px;
    padding-right: 50px;
  }

  .coret {
    margin: 5px 0 0 45px;
  }

  .single-pricing {
    margin-bottom: 30px;
  }

  .btn-area a {
    padding-left: 80px;
    padding-right: 80px;
  }

  .col-lg-4 .card {
    max-width: 100%;
    margin: 20px auto;
  }

  .unduh {
    display: none;
  }

  .testi {
    width: 100%;
    height: auto;
    margin-left: 0rem;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 15px;
  }

  .wiper {
    width: 100%;
    height: 100%;
  }

  .slider {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 25px;
  }

  .splide__list .splide__slide .card.abyss {
    width: 21rem;
  }

  .share-btn-container1 {
    position: relative;
    display: block;
    transform: unset;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    padding: 16px 0;
    justify-content: center;
  }

  .share-btn-container1 a {
    margin: 0 15px;
  }

  .share-btn-container {
    display: none;
  }

  .artikel .cover {
    width: 300px;
    height: 300px;
  }
}

/* Jadwa Doketer */
.jadwal-dokter {
  margin-top: 3rem;
}

.jadwal-dokter img {
  border-radius: 100%;
}

.jadwal-dokter p {
  color: #747474;
  font-size: small;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.jadwal-dokter .btn {
  padding: 1px 10px !important;
  letter-spacing: 2px;
  background-color: #66b3ff;
  border: none;
}

.jadwal-dokter h5 {
  font-size: x-large;
  color: #66b3ff;
}

.jadwal-dokter h6 {
  font-size: large;
  font-weight: 700;
  color: #54595f;

}

.jadwal-dokter thead {
  background-color: #66b3ff;
  color: white;
}